body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

input,
select,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}

.formulario {
  width: 25vw;
  min-width: 300px;
  margin: auto;
  border: 1px solid rgb(116 167 239);
  padding: 2.5em;
  background-color: rgb(116 167 239 / 30%);
  border-radius: 8px;
}

.formulario h2 {
  margin-top: 0;
  text-align: center;
}

.formulario form > input {
  margin-bottom: 1em;
}

.formulario form > label {
  margin-bottom: 0.25em;
}

.formulario select {
  margin-bottom: 1em;
}

.formulario button {
  background-color: rgb(75, 105, 236);
  width: fit-content;
  padding: 1em 2em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: rgb(48, 68, 159);
  border-radius: 8px;
  border-width: 1px;
  margin-inline: auto;
  border-style: solid;
  margin-top: 1em;
  transition: all 0.3s;
  cursor: pointer;
}

.formulario button:hover {
  background-color: rgb(145, 75, 236);
  border-color: rgb(66, 32, 110);
  border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
}

.thead {
  background-color: #f2f2f2;
}

.tr-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.tr-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tr-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.th {
  font-weight: bold;
}

.thead .th {
  padding: 8px;
}

.tbody > *:nth-child(even) {
  background-color: #f2f2f2;
}


.tbody > *:hover {
  background-color: #e0e0e0;
}

.tbody .td {
  padding: 8px;
}

.tbody {
  border: 1px solid #ccc;
}


.table {
  text-align: center;
  margin-block: 1.5em;
  padding-inline: 2em;
  width: 100%;
  box-sizing: border-box;
}

.btn-volver {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  background-color: rgb(145, 75, 236);
  border: 1px solid rgb(66, 32, 110);
  color: white;
  border-radius: 8px;
  padding: 0.5em 1em;
  position: fixed;
  right: 25px;
  bottom: 25px;
  box-shadow: 0 0px 3px 1px rgb(0 0 0 / 25%);
  transition: all 0.3s;
}

.btn-volver:hover {
  box-shadow: 0 0px 3px 1px rgb(0 0 0 / 75%);
  border-radius: 4px;
  background-color: rgb(75, 105, 236);
  border: 1px solid rgb(48, 68, 159);
}

.botones {
  display: flex;
  gap: 2em;
  justify-content: center;
}

.btn-editar {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.btn-eliminar {
  text-decoration: none;
  color: red;
  font-weight: 500;
}

.btn-ver {
  text-decoration: none;
  color: blue;
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 2.5em;
  width: 25vw;
  min-width: 300px;
  margin-inline: auto;
  margin-bottom: 1em;
  gap: 3px;
  border-radius: 4px;
  border: 1px solid rgb(100, 100, 100);
  background-color: rgb(50, 50, 50);
  color: white;
}

.card h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.value {
  text-align: right;
  font-weight: 500;
}

.value span {
  max-width: 100%;
  word-break: break-all;
}

.row {
  display: flex;
  padding: 0.5em 1em;
  align-items: center;
}

.row:not(:last-child) {
  border-bottom: 1px solid rgb(180, 180, 180);
}

.row > * {
  flex: 1;
  display: inline-block;
}

.label {
  font-weight: 500;
}
